apiVersion: v1
kind: Service
metadata:
  name: {{ include "go-echo2734b3ba-2ccd-4ae7-89ca-81b990441e2d.fullname" . }}
  labels:
    {{- include "go-echo2734b3ba-2ccd-4ae7-89ca-81b990441e2d.labels" . | nindent 4 }}
    kubernetes.azure.com/generator: devhub
  annotations:
    {{ toYaml .Values.service.annotations | nindent 4 }}
  namespace: {{ .Values.namespace }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.containerPort }}
      protocol: TCP
      name: svchttp
  selector:
    {{- include "go-echo2734b3ba-2ccd-4ae7-89ca-81b990441e2d.selectorLabels" . | nindent 4 }}
