apiVersion: v1
kind: Service
metadata:
  name: {{ include "go-echo2d7c435c-7572-47df-913e-fe8e4ebbbd37.fullname" . }}
  labels:
    {{- include "go-echo2d7c435c-7572-47df-913e-fe8e4ebbbd37.labels" . | nindent 4 }}
    kubernetes.azure.com/generator: devhub
  annotations:
    {{ toYaml .Values.service.annotations | nindent 4 }}
  namespace: {{ .Values.namespace }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.containerPort }}
      protocol: TCP
      name: svchttp
  selector:
    {{- include "go-echo2d7c435c-7572-47df-913e-fe8e4ebbbd37.selectorLabels" . | nindent 4 }}
