apiVersion: apps/v1
kind: Deployment
metadata:
  name: go-echo
  labels:
    app: go-echo
    kubernetes.azure.com/generator: devhub
  namespace: devhub-e2e-test-id-4
spec:
  replicas: 1
  selector:
    matchLabels:
      app: go-echo
  template:
    metadata:
      labels:
        app: go-echo
    spec:
      containers:
        - name: go-echo
          image: devhube2ea167fdf27e5d408797a440046f498285.azurecr.io/kubeimage:latest:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 1323
